/* .leftDrawer {
    width: 240px;
    flex-shrink: 0;
    /* background-color: var(--background-color, #e7e8e8); */
    /* background-color: var(--background-color);

}  */

.container {
    width: 100%;
    height: 100%;
  }
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title a {
    color: #FED100;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .connect {
    width: 230px;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 10%;
    padding: 7px;
    border-color: transparent;
    /* background-color: #000000; */
  }

  .row-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .metadata {
    color: #000000;
    margin: 0%;
    text-align: left;
    opacity: .5;
  }
  
  .metadata-title {
    color: #000000;
    margin: 0%;
    text-align: left;
  }
  
  
  .description {
    margin-top: 3rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
  }
  
  .card {
    background-color: transparent;
    margin: .1rem;
    padding: .5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 350px;
    position: relative;
  }
  
  .card img {
    display: block;
  }
  
  
  .card:hover,
  .card:focus,
  .card:active {
    background-color: transparent;
    color: #FED100;
    border: 2px solid transparent;
    border-color: #FED100;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
  
  .column-container {
    flex-direction: row;
    display: flex;
  }
  
  .row {
    flex-direction: row;
    display: flex;
  }
  
  .stats {
    color: black;
    font-size: large;
    margin-left: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  
  .large-left-column {
    width: 90%;
    text-align: left;
    flex-direction: column;
    display: flex;
  }
  
  .small-right-column {
    width: 10%;
    text-align: right;
    display: flex;
    margin: auto;
    vertical-align: middle;
  }
  
  .gallery {
    display: flex;
    width: 100%;
  }
  
  .nft-image {
    width: 100%;
    height: 100%;
  }
  