/* .leftDrawer {
    width: 240px;
    flex-shrink: 0;
    /* background-color: var(--background-color, #e7e8e8); */
    /* background-color: var(--background-color);

}  */

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

  .app-container {
    width: 100%;
    height: 100% !important;
  }

  .comingSoon {
    color: var(--accent-color);
    font-size: 7rem;
    font: 'Bebas Neue';
    text-align: center;
    z-index: 1;
  }

  .comingSoon-Mobile {
    color: var(--accent-color);
    font-size: 3.5rem;
    font: 'Bebas Neue';
    text-align: center;
    z-index: 1;
    margin-top: -250px;
    height: fit-content;
  }

  .comingSoonBlack {
    color: #000000;
    font-size: 7rem;
    font: 'Bebas Neue';
    text-align: center;
    z-index: 1;
  }

  .comingSoonBlack-Mobile {
    color: #000000;
    font-size: 3.5rem;
    font: 'Bebas Neue';
    text-align: center;
    z-index: 1;
  }

  
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title a {
    color: #FED100;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .metadata {
    color: #000000;
    margin: 0%;
    margin-bottom: 5px;
    padding: 0%;
    padding-left: 3%;
    text-align: left;
    opacity: .5;
  }
  
  .metadata-title {
    color: #000000;
    margin: 0%;
    margin-top: 5px;
    padding: 0%;
    padding-left: 3%;
    text-align: left;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Bebas Neue';
  }
  
  .description {
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1.15rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
  }
  
  .card {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* background-color: white;*/
    /* border: none; */
    background-color: white !important;
    color: grey;
    border: 3px solid transparent;
    border-color: transparent;
    margin: 0%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    text-align: left;
    border-radius: 10px; 
    /* transition: color 0.15s ease, border-color 0.15s ease; */
    max-width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;  
  }
  
  .card img {
    display: block;
    padding: 0%;
    margin: 0%;
  }

  .card:hover,
  .card:focus,
  .card:active {
    background-color: white !important;
    color: #FED100;
    /* transition: color 0.15s ease, border-color 0.15s ease; */
  }
  
  
  .card img:hover,
  .card img:focus,
  .card img:active {
    background-color: white !important;
    color: #FED100;
    border: 3px solid transparent;
    border-color: #FED100;
    transition: color 0.15s ease, border-color 0.15s ease;
  }

  .card-selected img {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* background-color: white;*/
    /* border: none; */
    background-color: white !important;
    color: var(--accent-color);
    border: 5px solid var(--accent-color);;
    border-color: var(--accent-color);;
    transition: color 0.15s ease, border-color 0.15s ease;
    margin: 0%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    text-align: left;
    border-radius: 10px; 
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 250px;
    position: relative;
    display: flex;
    flex-direction: column; 
    /* filter: grayscale(70%); */
  }

  /* .title-selected {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 1.5px black;
	  -webkit-text-fill-color: var(--accent-color);
    color: var(--accent-color);
    font-size: 45px;
    font-family: "Bebas Neue";
    letter-spacing: 3.5px;
    opacity: 1 !important;
    z-index: 1;
  } */
  
  /* .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  } */
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  /* .card,
  .footer {
    border-color: #222;
  } */
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
  
  .column-container {
    flex-direction: row;
    display: flex;
  }
  
  /* .row {
    flex-direction: row;
    display: flex;
  } */
  
  .stats {
    color: black;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Bebas Neue';
    margin: 0%;
    padding: 5px;
    text-align: end;
    line-height: 1;
  }

  .stats-name {
    font-size: 1.5rem;
    font-family: 'Bebas Neue';
    overflow-wrap: break-word;
    text-align: left;
    margin: 0%;
    padding: 5px;
    font-weight: 300;
    line-height: 1;

  }

  .stats-col {
    display: flex;
    flex-direction: row;
    width: 33.33%;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .large-left-column {
    width: 85%;
    text-align: left;
    flex-direction: column;
    display: flex;
    background-color: white;
  }
  
  .small-right-column {
    width: 15%;
    text-align: right;
    display: flex;
    margin: auto;
    vertical-align: middle;
    background-color: white;
    padding-right: auto;
    padding-left: auto;
    justify-content: center;
    align-items: center;
  }
  
  .gallery {
    display: flex;
    width: 100%;
  }
  
  .nft-image {
    width: 100%;
    height: 100%;
  }

  .filter-button {
    width: 125px;
    height: 45px;
    margin-left: 10px;
    font-size: .9rem !important;
    cursor: pointer;
    color: grey !important;
    background-color: white !important;
    border: 1px solid grey !important;
    border-radius: 30px !important;
    outline: none;
    transition: 1s ease-in-out;
  }

  .filter-button:hover {
    color: var(--accent-color) !important;
    border: 1px solid var(--accent-color) !important;
    border-radius: 30px !important;
    transition: .5s ease-in-out;
  }

  .filter-button-selected {
    width: 125px;
    height: 45px;
    font-size: .9rem !important;
    margin-left: 10px;
    cursor: pointer;
    background-color: white !important;
    outline: none;
    color: var(--accent-color) !important;
    border: 1px solid var(--accent-color) !important;
    border-radius: 30px !important;
  }

  .selected-box {
    width: 400px;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
  }

  .burn-box {
    width: 550px;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
  }

  .burn-btn {
    margin-right: 10px !important;
    padding: 10px !important;
    min-width: 200px !important;
    font-size: 24px;
  }

  .burn-btn:hover {
    border: 1px solid black !important;
    transition: '0.5s ease-in-out';
  }

  .factory-sheet-text {
    font-size: 1.5rem;
    font-family: 'Bebas Neue';
    overflow-wrap: break-word;
    text-align: left;
    margin: 0%;
    padding: 5px;
    font-weight: 300;
    line-height: 1;
    color: black;
  }