@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&family=Roboto");

:root {
  --primary-color: #000000;
  --secondary-color: #FFFFFF;
  --accent-color: #FED100;
  /* --background-color: #FFFFFF; */

  --background-color: #e7e8e8;
  /* ... add more variables as needed ... */
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #FED100;
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
  font-family: 'Bebas Neue';
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: var(--primary-color);
  background-color: var(--background-color);
}
