.card {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* background-color: white;*/
    /* border: none; */
    background-color: white !important;
    color: grey;
    border: 3px solid transparent;
    border-color: transparent;
    margin: 0%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    text-align: left;
    border-radius: 10px;
    /* transition: color 0.15s ease, border-color 0.15s ease; */
    max-width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .card img {
    display: block;
    padding: 0%;
    margin: 0%;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    background-color: white !important;
    color: #FED100;
    /* transition: color 0.15s ease, border-color 0.15s ease; */
  }
  
  
  .card img:hover,
  .card img:focus,
  .card img:active {
    background-color: white !important;
    color: #FED100;
    border: 3px solid transparent;
    border-color: #FED100;
    transition: color 0.15s ease, border-color 0.15s ease;
  }

  .card-no-hover {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* background-color: white;*/
    /* border: none; */
    background-color: white !important;
    color: grey;
    border: 3px solid transparent;
    border-color: transparent;
    margin: 0%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    text-align: left;
    border-radius: 10px;
    /* transition: color 0.15s ease, border-color 0.15s ease; */
    max-width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .card-no-hover img {
    display: block;
    padding: 0%;
    margin: 0%;
  }
  