.title-selected {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -webkit-text-stroke: 1.5px black;
  -webkit-text-fill-color: white; */
  color: white;
  font-size: 45px;
  font-family: "Bebas Neue";
  letter-spacing: 3.5px;
  opacity: 1 !important;
  z-index: 1;
}

.gallery {
  display: flex;
  width: 100%;
  height: 100dvh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.nft-image {
  width: 100%;
  height: 100%;
}

.filter-button {
  margin: 0px;
  padding: 0px;
  font-size: 1rem !important;
  cursor: pointer;
  color: grey !important;
  background-color: white !important;
  border: 1px solid grey !important;
  border-radius: 30px !important;
  outline: none;
  transition: 1s ease-in-out;
}

.filter-button:hover {
  color: var(--accent-color) !important;
  border: 1px solid var(--accent-color) !important;
  border-radius: 30px !important;
  transition: .5s ease-in-out;
}

.filter-button-selected {
  margin: 0px;
  padding: 0px;
  font-size: 1rem !important;
  cursor: pointer;
  background-color: white !important;
  outline: none;
  color: var(--accent-color) !important;
  border: 1px solid var(--accent-color) !important;
  border-radius: 30px !important;
}

.selected-box {
  width: 400px;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
}

.selected-box-mobile {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}

.burn-box {
  /* width: 550px; */
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  display: "flex";
  flex-direction: "row";
}

.burn-box-mobile {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.burn-btn {
  margin-right: 10px !important;
  padding: 10px !important;
  min-width: 200px !important;
  font-size: 24px;
}

.burn-btn-mobile {
  padding: 10px !important;
  min-width: 250px !important;
  font-size: 24px !important;
  margin-bottom: 20px !important;
}

.burn-btn:hover {
  border: 1px solid black !important;
  transition: '0.5s ease-in-out';
}

.factory-sheet-text {
  font-size: 1.5rem !important;
  font-family: 'Bebas Neue';
  overflow-wrap: break-word;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 5px;
  font-weight: 500 !important;
  line-height: 1;
  color: black;
}

body::-webkit-scrollbar{
  display: none;
}

.factory-image-list::-webkit-scrollbar{
  display: none;
}

.factory-image-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery::-webkit-scrollbar{
  display: none;
}

.gallery {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
